.playAreaSection {
  max-width: 350px;
  margin: 2rem auto;
}

.gameOverview {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--app-color-primary);
  padding: 0.25rem 0.5rem;
}

.playerInfo {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.player.player1 {
  color: var(--app-color-player1);
}

.player.player2 {
  color: var(--app-color-player2);
}

.player.activePlayer {
  color: var(--app-color-player-active);
}

.player .symbol {
  text-transform: uppercase;
}

.clearSavedDataSection {
  margin-bottom: 1rem;
}

.clearSavedDataSection button {
  border-color: var(--app-color-secondary);
  color: var(--app-color-text);
}

.clearSavedDataSection button:hover {
  background-color: rgba(0 0 0 / 10%);
}

.clearSavedDataSection button svg {
  height: 1.25rem;
}

.winOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0 0 0 / 85%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  color: var(--app-color-white);
}

.overlayContent .restartBtn {
  color: var(--app-color-white);
  font-size: 1.25rem;
  gap: 0.75rem;
}

.overlayContent .restartBtn:hover {
  background-color: var(--app-color-btn-hover);
}

.overlayContent .restartBtn svg {
  height: 1.75rem;
  transition: 1s rotate ease-in-out;
}

.overlayContent .restartBtn:hover svg {
  rotate: 180deg;
}
