.playAreaSection {
  max-width: 350px;
  margin: 2rem auto;
}

.playerInfo {
  display: flex;
  justify-content: space-around;
  background-color: var(--app-color-primary);
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.activePlayer {
  color: var(--app-color-player-active);
}

.player .symbol {
  text-transform: uppercase;
}

.winOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0 0 0 / 85%);
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  color: #fff;
}

.overlayContent .restartBtn {
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  border: 2px solid var(--app-color-primary);
  color: #fff;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.overlayContent .restartBtn:hover {
  background-color: rgba(0 0 0 / 40%);
}

.overlayContent .restartBtn svg {
  height: 1.75rem;
  transition: 1s rotate ease-in-out;
}

.overlayContent .restartBtn:hover svg {
  rotate: 180deg;
}
