:root {
  --app-color-primary: #ffb703;
  --app-color-secondary: #444545;
  --app-color-board: #774512;
  --app-color-text: rgba(0 0 0 / 87%);
  --app-color-player-active: green;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** CSS Background **/
body {
  background-color: var(--app-color-primary);
  background-image: radial-gradient(
      var(--app-color-secondary) 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    radial-gradient(
      var(--app-color-secondary) 0.7000000000000001px,
      var(--app-color-primary) 0.7000000000000001px
    );
  background-size: 28px 28px;
  background-position:
    0 0,
    14px 14px;
}

body {
  color: var(--app-color-text);
  font-family: "Amatic SC", "Roboto", "Sarabun", sans-serif;
}

header h1 {
  text-align: center;
  padding-top: 0.75rem;

  font-size: 4rem;
  letter-spacing: 1px;
}
